.container{
    margin-top:3%;
    row-gap: 10%;
}
.col-md-4 .row{
    margin: 8px;
}

.card-img, .card-img-top{
    width: 344px;
    height: 192px;
}

.card{
    padding-top:12px;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}