{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %}Forgot Password{% endblock %}</h2>
    <hr>
      <!-- take email input and validate with database  -->
      <form method="post">
        <div class="d-flex flex-row align-items-center">
        <!-- <i class="fas fa-user fa-md me-3 fa-fw"></i> -->
            <div class="form-outline flex-fill mb-3">
            {{form.email.label}}
            {{form.email(size=30)}} 
            </div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <div class="pt-1 mb-4">
              <!-- <button class="btn btn-dark btn-lg btn-block" type="button">Login</button> -->
              {{form.submit()}} 
            </div>
        </div>
      </form>
{% endblock %}
